//*******************/
// Fonts
/********************/
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);


$font-light: 'Gotham-Light','Helvetica Neue', 'helvetica', 'Roboto', 'Arial', sans-serif;
$font-Book: 'Gotham-Book','Helvetica Neue', 'helvetica', 'Roboto', 'Arial', sans-serif;
$font-Medium: 'Gotham-Medium','Helvetica Neue', 'helvetica', 'Roboto', 'Arial', sans-serif;
$font-Bold: 'Gotham-Bold','Helvetica Neue', 'helvetica', 'Roboto', 'Arial', sans-serif;